@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 98%;
    margin: 0 auto;
}

#hero-shot {
    background-image: url('./assets/work-desk__dustin-lee.jpg');
    background-color: #004a75;
    background-size: cover;
    background-blend-mode:multiply;
    /* opacity: 0.5; */
    height: 100vh;
}

#logo img{
    margin: 1rem;
    width: 50px;
}

#hero-shot .content {
    color: #ffffff;
    padding: 8rem 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#hero-shot .content h2 {
    margin: 0.5rem;
    font-size: 2rem;
    font-weight: 400;
}

#hero-shot .content h3 {
    margin: 0.5rem;
    font-size: 1.5rem;
}

#hero-shot .content p {
    margin: 0.5rem;
}

#hero-shot .content button {
    margin: 1rem auto;
    background-color: transparent;
    color: #ffffff;
    width: 200px;
    height: 50px;
    font-weight: 600;
    border: 1px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s ease-out;
}

#hero-shot .content button:hover {
    background-color: #ffffff;
    color:#004a75;
}

.notification-panel {
    position: absolute;
    right: 0;
    left: 0;
    top: -105%;
    transition: 2s linear;
}

.notification-panel.active {
    background-color: #e5e5e5;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
}

.notification-panel.hidden {
    right: 0;
    left: 0;
    top: -105%;
    transition: 3s linear;
}

.notif-content {
    width: 60%;
    margin: 0 auto;
    padding: 22px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notif-text {
    width: 85%;
}

.notif-text > p {
    font-weight: 500;
    line-height: 22px;
    color: var(--pcolor);
}

.notif-text > p > a {
    color: blue;
}

.notif-button button {
    padding: 10px 20px;
    color: white;
    border: none;
    font-weight: bold;
    background-color: #007bc1;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.4s;
}

.notif-button button:hover {
    background-color: #004a75;
}

#highlights-panel {
    background-color: #e5e5e5;
    color: #394044;
    padding: 3rem 0;
    /* height: 100vh; */
}

#highlights-panel .content {
    text-align: center;
}

#highlights-panel .content h2 {
    margin-bottom: 0.8rem;
}

#highlights-panel .content p {
    font-weight: 500;
    margin: 0;
    line-height: 24px;
}

.card-highlights-panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    padding: 0.8rem;
    width: 400px;
    margin: 1rem;
    border: 1px solid #394044;
    border-style: groove;
    box-shadow: #ffffff;
    transition: 0.2s ease-out;
    cursor: pointer;
}

.card:hover {
    background-color: #ffffff; 
    
}

.card .title-card {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}

.title-card .fa-2xl {
    color: #9e9e9e;
}

.title-card h3 {
    color: #1f2224;
    font-weight: 500;
    font-size: 1.5rem;
}


.card p {
    font-size: 0.9rem;
    line-height: 1.4rem;
}

.newsletter-panel {
    position: fixed;
    bottom: -105%;
}

.newsletter-panel.active {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 45%;
    background-color: #007bc1;
    opacity: 0.9;
    transition: 1s linear;
    z-index: 2;
}

.newsletter-panel.hidden {
    bottom: -105%;
    transition: 2s linear;
}

.news-close p {
    width: 15px;
    margin-left: auto;
    margin-top: 8px;
    margin-right: 8px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.news-close p:hover {
    color: black;
}

.news-content {
    padding: 0 20px 20px 20px;
}

.news-title h3 {
    font-size: 25px;
    color: white;
}

.news-article p {
    margin-top: 7px;
    color: white;
    font-size: 16px;
    line-height: 25px;
}

.news-form {
    margin-top: 15px;
}

form {
    display: flex;
    justify-content: space-between;
}

form input {
    width: 80%;
    padding: 10px 0;
    font-size: 14px;
    font-weight: bold;
    border: none;
    padding-left: 10px;
}

form input:focus {
    outline: none;
}

form button {
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    color: white;
    background-color: #ff8000;
    border: none;
    cursor: pointer;
    transition: all 0.4s;
}

form button:hover {
    background-color: #ff6600;
}

footer {
    /* position: absolute; */
    /* top: 10%; */
    width: 100%; 
    background-color: #004a75;
    color: #ffffff;
    padding: 2rem;
    text-align: center;
}

/* .sliding-panel {
    /* position: absolute;
    left: 0;
    top: 197%;
    z-index: 1; */
    /* background-color: #007bc1;
    color: #ffffff;
    padding: 1rem;
    width: 50%;
} */

/* .sliding-panel h3{
    font-size: 1.5rem;
    margin: 0.4rem 0;
}

.sliding-panel p {
    font-size: 1.1rem;
    margin: 0.4rem 0;
    line-height: 1.4rem;
}

.sliding-panel input[type=email] {
    margin: 1rem 0.5rem 1rem 0;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 80%;
    padding: 0.5rem 1rem;
    border: 1px solid #ffffff;
}

.sliding-panel .btn-count {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    background-color: #ff8000;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border: 1px solid #ff8000;
    border-radius: 3px;
    cursor: pointer;
}

.sliding-panel .btn-close {
    font-size: 1rem;
    position: absolute;
    top: 230%; 
    background-color: transparent;
    color: #ffffff;
    border: none;
    cursor: pointer;
} */


@media (max-width: 960px) {
    .notif-content {
      width: 80%;
      padding: 22px 0;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
    }

    .notif-text {
      width: 100%;
    }

    .notif-button {
      margin-top: 10px;
    }

    .notif-button button {
      padding: 12px 22px;
      font-size: 18px;
    }

    .first-row {
      width: 70%;
    }

    .higlights-item {
      width: 45%;
    }

    .newsletter-panel.active {
      width: 65%;
    }

    .news-close p {
      text-align: end;
      margin-right: 13px;
      font-size: 30px;
      font-weight: normal;
    }

    form input {
      width: 75%;
    }
}

@media (max-width: 480px) {
    .notif-content {
      width: 100%;
      padding: 10px 0;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
    }

    .notif-text {
      width: 100%;
    }

    .notif-button {
      margin-top: 5px;
    }

    .notif-button button {
      padding: 10px 20px;
      font-size: 18px;
    }

    .first-row {
      width: 100%;
    }

    .higlights-item {
      width: 100%;
    }

    .newsletter-panel.active {
      width: 100%;
    }

    .news-close p {
      font-size: 22px;
      text-align: end;
      margin-right: 13px;
    }

    .news-title h3 {
      font-size: 18px;
      color: white;
    }

    .news-article p {
      margin-top: 7px;
      color: white;
      font-size: 16px;
      line-height: 20px;
    }

    .news-form {
      margin-top: 10px;
    }

    form {
      display: flex;
      flex-wrap: wrap;
    }

    form input {
      width: 100%;
    }

    form button {
      margin-top: 10px;
      width: 100%;
    }
}